.carousel {
  margin: 0 auto;
}

.carouselCaption {
  padding: 2rem 3rem;
}

.carouselButton:hover {
  background-color: rgb(var(--accent-1));
  color: black;
}

.heading {
  left: -2vw;
}

.headingBg {
  left: -9.3vw;
}

@media (max-width: 992px) {
  .heading {
    left: -2vw;
  }

  .headingBg {
    left: -2vw;
  }
}

@media (max-width: 768px) {
  .carousel {
    margin: 10% 20% 10%;
  }

  .carouselCaption {
    padding: 1rem;
  }
}
